<h2 class="text-2xl font-semibold mb-6">プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-4" }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex flex-col space-y-1">
    <%= f.label :name, "ユーザー名",class: "text-sm font-medium text-gray-700" %>
    <%= f.text_field :name, class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="flex flex-col space-y-1">
    <%= f.label :email, "メールアドレス",class: "text-sm font-medium text-gray-700" %>
    <%= f.email_field :email, class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="flex flex-col space-y-1">
    <%= f.label :goal_distance, "1日の目標距離（m）", class: "text-sm font-medium text-gray-700" %>
    <%= f.number_field :goal_distance, min: 0, class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="flex flex-col space-y-1">
    <%= f.label :avatar, "アバター" %>
    <%= f.file_field :avatar, class: 'form-control mb-3', accept: 'image/*' %>
    <%= f.hidden_field :avatar_cache %>
    <%= image_tag current_user.avatar.url, class: 'rounded-full w-[100px] h-[100px] object-cover' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="text-yellow-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.submit "更新", class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md" %>
<% end %>

<%= link_to "戻る", :back, class: "text-blue-500 hover:underline" %>
