<div id="post-id-<%= post.id %>" 
     class="relative w-full max-w-sm h-[500px] rounded-md shadow-md"
     style="background-image: url('<%= asset_path('poster.png') %>'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
  <!-- 内容部分 -->
  <div class="relative z-10 px-4 pt-6 pb-4 flex flex-col justify-between h-full">
    <!-- 画像部分 -->
    <div class="w-full aspect-[4/3] overflow-hidden rounded-lg mb-2 mt-2">
     <%= image_tag post.post_image_url, class: "w-full h-full object-cover", alt: "Post Image" %>
    </div>

    <!-- タイトル -->
    <h4 class="text-xl font-bold text-black leading-tight text-center truncate">
      <%= post.title %>
    </h4>

    <!-- 編集/削除ボタン -->
    <% if current_user.own?(post) %>
     <div class="flex mt-1">
      <div class="flex space-x-2 ml-auto">
        <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
          <i class="ri-edit-2-fill text-gray-600 hover:text-gray-800 text-lg cursor-pointer"></i>
        <% end %>
        <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
          <i class="ri-delete-bin-fill text-red-600 hover:text-red-800 text-xl cursor-pointer"></i>
        <% end %>
      </div>
     </div>
    <% end %>

    <!-- 投稿者と日付 -->
    <ul class="text-black text-sm mt-1 space-y-1">
      <li>ユーザー名：<i class="bi bi-person-fill mr-1"></i><%= post.user.name %></li>
      <li>投稿日：<i class="bi bi-calendar-event-fill mr-1"></i><%= post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H:%M') %></li>
    </ul>

    <!-- 本文 -->
    <p class="text-black mt-1 text-sm line-clamp-2">
      <%= post.body %>
    </p>

    <!-- 詳細ボタン -->
    <div class="mt-4 flex justify-center">
      <%= link_to '詳細', post_path(post), class: "bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 transition-colors duration-200" %>
    </div>
  </div>
</div>