<div class="container mx-auto flex justify-center py-10">
  <div id="post-id-<%= @post.id %>" class="max-w-2xl bg-white rounded-lg shadow-md overflow-hidden text-center p-6">
    <h1 class="text-2xl font-bold mb-4">投稿詳細</h1>
    <div class="bg-gray-100 p-4 rounded-lg">
      <div class="flex flex-col items-center gap-4">
        <div class="w-full max-w-xs">
        <%= image_tag "post_placeholder.png", class: "w-full h-48 object-cover" %>  
        </div>
        <div class="w-full text-center">
          <h3 class="text-xl font-semibold"><%= @post.title %></h3>
          <p class="text-gray-600">ユーザー名: <%= @post.user.name %></p>
          <p class="text-gray-500 text-sm"><%= l @post.created_at, format: :long %></p>
          <div class='flex justify-center mt-2 space-x-4'>
            <%= link_to "#", id: "button-edit-#{@post.id}", class: "text-blue-500 hover:text-blue-700" do %>
              <i class='bi bi-pencil-fill'></i>
            <% end %>
            <%= link_to "#", id: "button-delete-#{@post.id}", class: "text-red-500 hover:text-red-700" do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        </div>
      </div>
      <p class="mt-4 text-gray-700 text-center"><%= simple_format(@post.body) %></p>
    </div>
    <%= render 'comments/form', comment: @comment, post: @post %>
    </div>
    <div class="mt-6">
      <h2 class="text-lg font-semibold mb-2">コメント一覧</h2>
      <table class="w-full border border-gray-200 rounded-lg">
        <tbody id="table-comment" class="divide-y divide-gray-200">
          <%= render @comments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
