<div class="container mx-auto flex justify-center py-10">
  <div id="post-id-<%= @post.id %>" class="max-w">
    <h1 class="text-2xl font-bold text-center mb-6">投稿の詳細</h1>

<div class="border border-gray-300 rounded-lg p-4 max-w-2xl w-full">
  <div class="flex items-start gap-4 mt-4">
    <div class="w-full md:w-1/4">
      <%= image_tag @post.post_image_url, class: "w-full h-auto rounded-t-lg" %>
    </div>

    <div class="w-2/3">
      <h3 class="text-lg font-semibold"><%= @post.title %></h3>
      <p class="text-gray-600 text-sm">ユーザー名: <%= @post.user.name %></p>
      <p class="text-gray-500 text-xs"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H:%M') %></p>
    </div>
  </div>
  <p class="mt-4 text-gray-700 break-words"><%= simple_format(@post.body) %></p>
</div>

    <div class="mt-6">
      <%= render 'comments/form', comment: @comment, post: @post %>
    </div>

    <div class="mt-4">
    <%= render @comments %>
    </div>
  </div>
</div>